[Unit]
Description=Aria2c download manager
Requires=network.target
After=dhcpcd.service
   
[Service]
Type=forking
#User=root
User=yuuki
RemainAfterExit=yes
#ExecStartPre=/usr/bin/setcap cap_net_admin+ep /usr/bin/aria2c
ExecStart=/usr/bin/aria2c --conf-path=/etc/aria2.conf --daemon
ExecReload=/usr/bin/kill -HUP $MAINPID
RestartSec=1min
Restart=on-failure
   
[Install]
WantedBy=multi-user.target
